body {
    color: #303030;
    background-color: lightslategray;
    font-family: "waree";
}

#form1{
	margin: 10px 0px 15px 4px;
	width: auto;
	height: auto;
}
#form2{
	margin: -10px 0px 0px 30px;
}
#pa1{
	margin-left: 12px;
	margin-right: 19px;
}
.mtabla{
    display:inline-block;
}
#tar{
    display: table;
    margin: auto;
}
table{
    border: 1px solid #303030;
}
table,th,td,tr {
    border-collapse: collapse;
    width: auto;
	min-width: 170px;
	outline: 3px, solid, black;
	margin: auto;
}
th{
    border: 1px solid #303030;
	text-align: center;
	background-color: #a9b3d3;
}
tr{
	background-color: #d8ddee;
}
tr:hover{
    background-color: #a9b3d3;
}
td{
    transition: 0.16s;
    cursor: pointer;
	border:  1px solid  #4e5158;
}
thead {
    background-color: #a9b3d3;
    display: block;
    width: auto;
	border: 1px solid #303030;
}
tbody {
    display: block;
    height:121px;
    max-height: 121px;
    width: auto;
    overflow-x:hidden;
	overflow-y: auto;
    background-color: #d8ddee;
    border: 1px solid #303030;
}
 
#cont{
    margin: auto;
    text-align: center;
}
form{
    vertical-align: middle;
    display:inline-block;
}

select {	
	border:3px solid #6a64be;
	overflow: hidden;
	position:relative;
	-webkit-appearance: none;
	display: inline-block;
	transition: 0.16s;
    cursor: pointer;
	text-align: center;
 }
 select:focus{ 
	outline: none;
}
select:hover{
	border-color: #bcb8fc;
	text-shadow: 10px 1px 20px #e9d3fc, 0 0 1em rgb(227, 227, 255), 0 0 0.2em rgb(227, 227, 255);
}

button:hover{
	text-shadow: 10px 1px 20px #e9d3fc, 0 0 1em rgb(227, 227, 255), 0 0 0.2em rgb(227, 227, 255);
	border-color: #bcb8fc;
}

.inputs {
	margin: 0px 15px -5px 15px;
	border:2px solid #303030;
	font-family: inherit;
    font-size: inherit;
    padding-left: 30px;
    padding-right: 30px;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	position: relative;
	transition: all 0.09s;
	background: #a9b3d3;
	color: black;
	outline-color: #6961df;
	height: 45px;
	min-width: 100px;
	line-height: 15px;
	font-size: 14px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn:active {
	background: #bcc2d6;
	border:4px solid #a9b2cf;
	top: 2px;
	height: 45px;
	min-width: 100px;
}